<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.finalteam.gradlebuildchannels" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--这里可以添加更多的配置，gradle构建时动态变量${CHANNEL_VALUE}为渠道信息-->
        <meta-data android:name="UMENG_CHANNEL" android:value="${CHANNEL_VALUE}" />
        <meta-data android:name="JPUSH_CHANNEL" android:value="${CHANNEL_VALUE}" />
    </application>

</manifest>
